# Functions Exercises

In [ ]:
def demo(name,age):
  print(name,age)
demo("Lavanya",25)

Lavanya 25

In [ ]:
def fun(*args):
  for i in args:
    print(i)
fun(20,40,60)
fun(30,50)

20
40
60
30
50

In [ ]:
def calculation(a, b):
  add=a+b
  sub=a-b
  return add,sub

res = calculation(40, 10)
print(res)

(50, 30)

In [ ]:
def employee(name,salary=9000):
  print("Name:", name,"Salary", salary)
employee("Ben",12000)
employee("Jessa")

Name: Ben Salary 12000
Name: Jessa Salary 9000

In [ ]:
def outer_fun(a,b):
  square = a**2
  def inner_fun(a,b):
    return a+b

  add=inner_fun(a,b)
  return add+5

result=outer_fun(10,5)
print(result)

20

In [ ]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

showStudent = display_student

showStudent("Emma", 26)

Emma 26
Emma 26

In [ ]:
def student(**Name):
  print(" Details of Student", Name)
student(Name="Pradeep",Marks=90)

 Details of Student {'Name': 'Pradeep', 'Marks': 90}

In [ ]:
x= lambda a:a+10
print(x(5))

15

In [ ]:
def addition(n):
  return n+n
num=[1,2,3,4,5]
result=map(addition,num) # map(function, iterables)
print(tuple(result))

(2, 4, 6, 8, 10)

In [ ]:
# filter(function, sequence)
def fun(variable):
  letters=['a','e','i','o','u']
  if variable in letters:
    return True
  else:
    return False
# sequence
sequence=['g','e','l','o','t','k','a']
filtered=filter(fun,sequence)
print("Printed Filtered Letters are ")
for s in filtered:
  print(s)

Printed Filtered Letters are
e
o
a

In [ ]:
from functools import reduce
result = reduce((lambda a,b:a*b), [1,2,3,4,5])
print(result)

120

In [ ]:
even=filter(lambda x:x%2==0,[1,2,3,4,5])
print(list(even))

[2, 4]

#Dictionary Exercises

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
result=dict(zip(keys,values))
print(result)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3={**dict1, **dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict["class"]["student"]["marks"]["history"]

80

In [ ]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
result=dict.fromkeys(employees,defaults)
print(result)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

keys = ["age", "city"]
for k in keys:
  sample_dict.pop(k)
print(sample_dict)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
i=int(input("Enter a Number: "))
if i in sample_dict.values():
  print("{} present in a dic".format(i))
else:
  print("{i} not present in a dic".format(i))

Enter a Number: 100
100 present in a dic

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
sample_dict1 = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict1, key=sample_dict1.get))

Math

In [ ]:
sample_dict3 = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict3['emp3']['salary'] = 8500
print(sample_dict3)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# Date And Time Exercises

In [ ]:
import datetime
x=datetime.datetime.now()
print(x)

2023-09-30 06:19:23.544814

In [ ]:
x=datetime.datetime.now().time()
print(x)

06:19:23.560918

In [ ]:
x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [ ]:
from datetime import datetime

date_string = "Feb 25 2023  4:20PM"
datetime_object = datetime.strptime(date_string, '%b %d %Y %I:%M%p')
print(datetime_object)

2023-02-25 16:20:00

In [ ]:
from datetime import datetime, timedelta
given_date = datetime(2023, 9, 29)
print("Given date")
print(given_date)

days_to_subtract = 7
res_date = given_date - timedelta(days=days_to_subtract)
print("New Date")
print(res_date)

Given date
2023-09-29 00:00:00
New Date
2023-09-22 00:00:00

In [ ]:
given_date = datetime(2023, 10, 15, 10, 00, 00)
print("Given date")
print(given_date)

days_to_add = 7
res_date = given_date + timedelta(days=days_to_add, hours=12)
print("New Date")
print(res_date)

Given date
2023-10-15 10:00:00
New Date
2023-10-22 22:00:00

#Python Projects Using Basics

## Acronyms using Python Project

In [ ]:
user_name = str(input("Enter a Phrase: "))
text = user_name.split()
a = " "
for i in text:
    a = a+str(i[0]).upper()
print(a)

Enter a Phrase: Lavanya Karimikonda
 LK

## Email Slicer

In [ ]:
email = input("Enter Your Email: ").strip()
username = email[:email.index("@")]
domain_name = email[email.index("@")+1:]
format_ = (f"Your user name is '{username}' and your domain is '{domain_name}'")
print(format_)

Enter Your Email: lavanya@gmail.com
Your user name is 'lavanya' and your domain is 'gmail.com'