# Basic Python Exercise

In [1]:
# Calculate the multiplication and sum of two numbers
a=int(input("Enter the Number 1: "))
b=int(input("Enter the Number 2: "))
c=a*b
d=a+b
print(c)
print(d)

Enter the Number 1: 10
Enter the Number 2: 20
200
30

In [2]:
# Print the sum of current number and previous number
print("Print Previous Number, Current Number, and their Sum")
previous_num=0
for i in range(1,11):
  sum=previous_num+i
  print("Current Number",i,"Previous Number", previous_num, "Sum: ", sum)
  previous_num=i

Print Previous Number, Current Number, and their Sum
Current Number 1 Previous Number 0 Sum:  1
Current Number 2 Previous Number 1 Sum:  3
Current Number 3 Previous Number 2 Sum:  5
Current Number 4 Previous Number 3 Sum:  7
Current Number 5 Previous Number 4 Sum:  9
Current Number 6 Previous Number 5 Sum:  11
Current Number 7 Previous Number 6 Sum:  13
Current Number 8 Previous Number 7 Sum:  15
Current Number 9 Previous Number 8 Sum:  17
Current Number 10 Previous Number 9 Sum:  19

In [3]:
# Remove first n characters from a string
name=input("Enter Your String: ")
print(name[:4])

Enter Your String: Lavanya
Lava

In [4]:
# Check if the first and last number of a list is the same
def first_last_same(number):
  print("Given List: ", number)
  first_num=number[0]
  last_num=number[-1]
  if first_num==last_num:
    return True
  else:
    return False
x= [10, 20, 30, 40, 10]
print(first_last_same(x))
y=[75, 65, 35, 75, 30]
print(first_last_same(y))

Given List:  [10, 20, 30, 40, 10]
True
Given List:  [75, 65, 35, 75, 30]
False

In [5]:
# display numbers divisible by 5 from a list
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [7]:
#Print characters from a string that are present at an even index number
name = input("Enter the Name: ")
print("Original String: ", name)
size=len(name)
print("Print even index char")
for i in range(0,size,2):
  print("index[", i,"]", name[i])

Enter the Name: Lavanya
Original String:  Lavanya
Print even index char
index[ 0 ] L
index[ 2 ] v
index[ 4 ] n
index[ 6 ] a

In [15]:
for i in range(5):
  for j in range(i):
    print(i,end=" ")
  print("\n")

1

2 2

3 3 3

4 4 4 4

In [18]:
def palindrome(num):
  print("Original Number: ", num)
  original_num = num
  rev_num=0
  while num>0:
    rem=num%10
    rev_num=(rev_num * 10)+ rem
    num=num//10
  if original_num==rev_num:
    print("Palindrome")
  else:
    print("Not Palindrome")
palindrome(121)
palindrome(455)

Original Number:  121
Palindrome
Original Number:  455
Not Palindrome

In [24]:
for i in range(5):
  for j in range(5):
    print(i, '*', j,'=', i*j)
  print("\n")

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0


1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4


2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8


3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12


4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [30]:
for i in range(5,0,-1):
  for j in range(0,i):
    print('*', end=" ")
  print("\n")

* * * * *

* * * *

* * *

* *

*

In [31]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j, end=" ")
  print("\n")

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [38]:
n=5
k=n-1
for i in range(0,n):
  for j in range(0,k):
    print(end=" ")
  k=k-1
  for j in range(0,i+1):
    print('*', end=" ")
  print("\n")

    *

   * *

  * * *

 * * * *

* * * * *

In [39]:
numbers = []
for i in range(0, 5):
    print("Enter number at location", i, ":")
    item = float(input())
    numbers.append(item)
print("User List:", numbers)

Enter number at location 0 :
1
Enter number at location 1 :
10
Enter number at location 2 :
10.4
Enter number at location 3 :
55
Enter number at location 4 :
86
User List: [1.0, 10.0, 10.4, 55.0, 86.0]

In [48]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
print(x)

nameTESTcountry

In [51]:
myTuple = ("John", "Peter", "Vicky")
x = " - ".join(myTuple)
print(x)

John - Peter - Vicky

# Loop Exercises

In [52]:
i=1
while i<=10:
  print(i)
  i= i+1

1
2
3
4
5
6
7
8
9
10

In [60]:
n=5
for i in range(1,n+1,1):
  for j in range(1, i+1):
    print(j,end=" ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [67]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for ter in numbers:
    if ter > 500:
        break
    elif ter > 150:
        continue
    elif ter % 5 == 0:
        print(ter)

75
150
145

In [71]:
num = int(input("Enter Random Number: "))
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Enter Random Number: 5876944
Total digits are: 7

In [72]:
list1 = [10, 20, 30, 40, 50]
size = len(list1) - 1
for i in range(size, -1, -1):
    print(list1[i])

50
40
30
20
10

In [73]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [74]:
start = int(input("Enter Start Number: "))
end = int(input("Enter End Number: "))
print("Prime numbers between", start, "and", end, "are:")
for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Enter Start Number: 4
Enter End Number: 20
Prime numbers between 4 and 20 are:
5
7
11
13
17
19

In [75]:
num1, num2 = 0, 1
print("Fibonacci sequence:")
for i in range(10):
    print(num1, end="  ")
    res = num1 + num2
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [78]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [79]:
num=int(input("Enter a Number: "))
rev=0
while num>0:
  rem=num%10
  rev=(rev*10)+rem
  num=num//10
print("Reverse Number", rev)

Enter a Number: 26358
Reverse Number 85362

In [80]:
l1=[10,20,30,40,50,60,70,80,90,100]
for i in l1[1::2]:
  print(i, end=" ")

20 40 60 80 100

In [86]:
num = 5
for i in range(0, num):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")
for i in range(num, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# List Exercises

In [87]:
list1=[100,200,300,400,500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [91]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[i+j for i,j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [93]:
num=[1,2,3,4,5,6,7,8,9,10]
res=[]
for i in num:
  res.append(i*i)
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [99]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
for x in list1:
  for y in list2:
    result=x+y
    print([result])

['Hello Dear']
['Hello Sir']
['take Dear']
['take Sir']

In [101]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
result=[x+y for x in list1 for y in list2]
print(result)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [102]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [103]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [104]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [105]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[3]=200
list1

[5, 10, 15, 200, 25, 50, 20]

In [117]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list2=20
res=[x for x in list1 if x!=list2]
print(res)

[5, 15, 25, 50]

# Tuple Exercices

In [119]:
tuple1 = (10, 20, 30, 40, 50)
tuple1

(10, 20, 30, 40, 50)

In [120]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [122]:
tuple2=[10,20,30,40]
a,b,c,d=tuple2
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [123]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2=tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [124]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
tuple1

(11, [222, 33], 44, 55)

In [131]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple2= tuple(sorted(list(tuple1),key=lambda x:x[1]))
print(tuple2)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

# Set Exercises

In [137]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Blue', 'Red', 'Green', 'Yellow', 'Orange', 'Black'}

In [138]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [139]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [140]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [141]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}